<div class="select-image col-lg-4 col-md-4 col-sm-4 col-xs-4">
	<span>by Annotation</span>
  <select multiple class="form-control" ng-model="selectedAnnotation" ng-options="ann for ann in
	$ctrl.lineAnnotations">
		<option value="">Any</option>
	</select>
</div>
<div class="select-image col-md-2 col-sm-2 col-xs-4">
	<span>by Line Number</span>
  <select multiple class="form-control" ng-model="selectedLineNumber"
	ng-options="num for num in $ctrl.lineNumbers">	
		<option value="">Any</option>
	</select>
</div>

