<div class="select-image col-md-6 col-md-offset- col-sm-6 col-xs-4">
	<p class="text-center">Annotation</p>
  <select multiple class="form-control" 
		ng-model="selectedAnnotations" 
		ng-options="ann for ann in $ctrl.lineAnnotations">
		<option value="">Any</option>
	</select>
</div>
<div class="select-image col-md-6 col-sm-offset- col-sm-6 col-xs-4">
	<p class="text-center">Line Number</p>
  <select multiple class="form-control" 
		ng-model="selectedLineNumbers"
		ng-options="num for num in $ctrl.lineNumbers">	
		<option value="">Any</option>
	</select>
</div>

