<!DOCTYPE html>
<title><%= title %></title>
<link rel="stylesheet" href="/css/app.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!--script src="/lib/jquery-3.1.1.min.js"></script>
<script src="/lib/bootstrap.min.js"></script-->
<script src="/lib/angular.min.js"></script>
<script src="/lib/angular-ui-router.min.js"></script>
<script src="js/main.js"></script>
<body ng-app="eTRapp">

	<nav-component></nav-component>
	
	<div class="main container-fluid" style="">

		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-5">
				<h2 style="font-family:arial">Browse Lines</h2>
			</div>
		</div>

		<div class="empty row" style="height:10px;">
		</div>

		<lines-component></lines-component>
		</div>
	</div>
	
	<div class="footer">
		<div class="container-fluid">
			<div class="col-md-3 col-sm-4 col-sm-offset-">
				<span><b></b></span>
			</div>	
			<div class="col-md-6 col-sm-9">
				<p class="text-center">2016 Engert Lab<br>This work was supported by</p>
			</div>

		</div>
	</div>
	
</body>
