<!DOCTYPE html>
<title><%= title %></title>
	<link rel='stylesheet' href='/css/app.css' />
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<script src="/lib/angular.min.js"></script>
	<script src="/lib/angular-ui-router.min.js"></script>
	<script src="js/bundle.js"></script>
<body ng-app="app">


	<div class="empty row" style="height:20px;">
	</div>
	
	<div class="container" style="">
		<div class="row" style="">
			<h1>__Find Image</h1>
			<br>
		</div>
		<div class="row" style="">
			<div class="select-image col-md-3 col-sm-3 col-xs-4" 

				style="float:left">
				<b>by Tag</b>

				<select multiple class="form-control"
					style="height:90%">
					<option>Line Tag</option>
					<option>Line Tag</option>
					<option>Line Tag</option>
					<option>Line Tag</option>
					<option>Line Tag</option>
					<option>Line Tag</option>
				</select>
			</div>
			<div class="select-image col-md-3 col-sm-3 col-xs-4"
				style="">
				<b>by Name</b>
				<select multiple class="form-control"
					style="height:90%">
					<option>Line Region</option>
					<option>Line Region</option>
					<option>Line Region</option>
					<option>Line Region</option>
					<option>Line Region</option>
					<option>Line Region</option>
				</select>
			</div>
			<div class="select-image col-md-4 col-sm-3 col-sm-offset-1">
				<b>Thumbnails</b>
			</div>	
		</div>
	</div>

</body>
