<!--lines-viewer.html-->
	<div class="row top">
		</div>

		<div class="row lines-viewer">
			<div class="col-md-9 col-md-offset- col-sm-10 col-sm-offset-2">

				<h2 style="font-family:sans-serif">Line Number |	13319</h2><br>
				<img src="images/MAX_13319_6dpf_MeanImageOf10Fish.jpg"
					alt="Line JPEG image">
				</img><br>

			</div>
		</div>
		
		<div class="row lines-info">
			<div class="col-md-9 col-md-offset- col-sm-11 col-sm-offset-2">
				
				<div class="col-md-5 col-sm-7">
					<span id="annotations-title">Annotations</span>	
					<ul>
						<br>

						<li>Annotation-Annot</li>
						<li>Ann-Antt-Anotation-Annot</li>
						<li>Annota-Annot</li>
					</ul>	
				</div>

				<div class="col-md-4 col-sm-4">
					<span id="buttons">
						<span><a class="btn btn-primary" href="#" role="button">
							Place Order</a>
						</span>
						<span><a class="btn btn-primary" href="#" role="button">
							Download TIF</a>
						</span>
					</span>
				</div>

			</div>
		</div>
