<div class="select-image col-md-4 col-md-offset- col-sm-3
col-xs-7">
	<p class="text-center">Filter by Annotation</p>
  <select multiple class="form-control" 
		ng-model="selectedAnnotations" 
		ng-options="ann for ann in $ctrl.lineAnnotations">
		<option value="" style="font-size: em;">Any Annotation</option>
	</select>
</div>
<div class="select-image col-md-2 col-sm-3 col-xs-5">
	<p class="text-center">Filter by Line Number</p>
  <select multiple class="form-control" 
		ng-model="selectedLineNumbers"
		ng-options="num for num in $ctrl.lineNumbers">	
		<option value="" style="font-size: em;">Any Line Number</option>
	</select>
</div>

