/*navbar*/

.navbar-header h4 {
	margin: 14px 20px 0 0px;
}
.navbar a {
	color: #38c !important;
}


/*body*/

body {
	height: 100%;
	position: relative;
}

a {
  color: #00B7FF;
}


/*main*/

.main.container-fluid  {
	min-height: calc(95vh - 90px);
}

.main.interface.row {
	height:1000px;
	min-height: 700px;
}


/*selects & thumbnail*/

.select-image select {
	height: 60%;
	min-height: 400px;
}
.select-image span {
	color: #000;
	font-family: arial;
	font-size: 1em;
}
.select-image option {
	color: #555;
	font-family: serif !important;
	font-size: 0.9em;
}
.thumbnails {
	border: 1px solid #bbb;
	border-radius: 4px;
 	height: 900px;
	/*min-height: ~*/
	left: 40px;
	overflow: scroll;
	padding: 20px;
	margin-top: 18px;
	margin-bottom:50px;
}

.thumbnails img {
	border-radius: 0;
	height: 160px;
	margin-bottom: 20px; 
	width: 405px;
}



/*footer*/

.footer {
	background-color: #fff;
	border-top: 1px solid #48c;
	bottom: 0;
	height: 60px;	
	position: relative;
	top: 50px;
	width: 100%;
}
.footer div {
	top: 10px;
}
.footer p {
	color: #bbb;
	font-size: 0.8em;
}


/* lines-viewer */

.row.top {
	height: 30px;
}

.lines-viewer {
	margin-bottom: 40px;
}
.lines-viewer img {
	height: 300px;
	width: 950px:
}

.lines-info #annotations-title {
	font-size: 1.4em;
}
.lines-info #buttons {
	margin-left: 110px;
}
.lines-info #buttons span {
	font-family: sans-serif;
	margin-right: 10px;
}
.lines-info ul {
	color: #000;
	font-family: serif;
	font-size: 0.9em;
	margin-left: -37px;
	list-style-type: none;
}
.lines-info li {
}



