html {
	background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
}

/*navbar*/

.navbar {
	background-color: #eee !important;
	border: 1px solid transparent !important;
	border-bottom: 1px solid #eee !important;
	font-family:  "Helvetica Neue", helvetica, sans-serif;
	margin-bottom: 10px !important;
}
.navbar-header h4 {
	font-family: Arial;
	font-size: 1.2em;
	margin: 16px 20px 0 0px;
}
.navbar a {
	color:  #38c  !important;
}


/*body*/

body {


	background: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
	position: relative;
}

a {
  color: #00B7FF;
}

#title-search {
	color: #000;
	font-family: "Helvetica", "Book Antiqua", Palatino, serif;
	font-size: 2.5em;
	font-weight: normal;
	margin-bottom: 30px;
	margin-left: 10px!important;
	white-space: nowrap;
}

/*main*/


.main.container-fluid  {
	min-height: calc(100vh - 50px);
	padding: 10px 40px;
}

.main.interface.row #rowdiv {
	height:1000px;
	min-height: 800px;
}


/*selects*/

.select-image select {
	border: 1px solid transparent;
	border-radius: 0 !important;
	height: 450px !important;
	margin: 0px !important;
	overflow: scroll;
}
.select-image p {
	color: #ccc;
	font-family: Helvetica;
	font-size: 1em;
	font-style: normal;
}
.select-image option {
	color: #246;
	font-family: palatino !important;	  
	font-size: 0.9em;
	-webkit-font-smoothing: antialiased;
}
.select-image option:nth-child(even)  {
	background-color: #f6f6f6;
}
.select-image option:hover {
	background-color: #c4c4c4;
	color: #479;
	font-size: 1.em;
	font-weight: bold;
}




/*thumbs*/

.thumb {
	background-color: #fff;
	#border: 1px solid #ccc;
	#box-shadow: 2px 2px 3px #c3c3c3;
	margin: 1em 0.5em;
	width: 430px;
	padding: 1em 1em;
	position: relative;
}
.thumb:hover {
	box-shadow: 0px 0px 10px #b3b3b3;
}
.thumb h4 {
	color: #ccc !important;
	font-family: helvetica;
	font-size: 0.8em;
	font-style: italic; 
	z-index: 10;
	position: absolute;
	left: 15px; top: 7px;
}

.thumbnails {
	#background-color: white;
	border: 1px solid transparent;
	border-radius: 5px;
 	height: 600px;
	margin: 0em 1em !important;
	overflow: scroll;

}


.thumbnails img {
	#border: 1px solid #000;
	border-radius: 3px;
	height: 160px;
	width: 405px;
}
.thumbnails img:hover {
	opacity: 0.8;
}


/*footer*/

.footer {
	background-color: #eceaea;
	border-top: 1px solid transparent;
	bottom: 0;
	height: 60px;	
	top: 50px;
	width: 100%;
}
.footer div {
	top: 10px;
}
.footer p {
	color: #ccc;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 0.8em;
	-webkit-font-smoothing: antialiased;
}


/* lines-viewer */

.lines-viewer.container-fluid {
	background-color: ;
	height:700px;
	margin-top: 30px;

}
.lines-viewer {
	margin-bottom: 70px;
}
.lines-viewer h2 {
	color: #888;
	font-family: "Helvetica Neue", sans-serif;
}
.lines-viewer img {
	box-shadow: 0px 0px 10px #ccc;
	height: 300px;
	width: 950px:
}

.lines-info #annotations {
	height: 200px;
	padding: 15px;
	width: 600px;
}
.lines-info #annotations-list {
	font-style: italic;
	padding-left: 50px;
}
.lines-info #annotations-title {
	font-size: 1.1em;
}
.lines-info #buttons {
}
.lines-info #buttons span {
	font-family: sans-serif;
	margin-right: 10px;
}
.lines-info ul {
	color: #000;
	font-family: serif;
	font-size: 0.9em;
	margin-left: -37px;
	#list-style-type: none;
}
.lines-info li {
}



