/*navbar*/

.navbar-header h4 {
	margin: 14px 20px 0 0;
}
.navbar a {
	color: #38c !important;
}


/*body*/

body {
	height: 100%;
}

a {
  color: #00B7FF;
}


/*main*/

.main.container-fluid  {
	min-height: calc(100vh - 90px);
}

.main.interface.row {
	height:1000px;
	min-height: 700px;
}


/*selects & thumbnail*/

.select-image select {
	height: 60%;
	min-height: 400px;
}
.select-image span {
	color: #000;
	font-family: serif;
	font-size: 1em;
}
.select-image option {
	color: #555;
	font-family: serif !important;
	font-size: 0.9em;
}
.thumbnails {
	border: 1px solid #bbb;
	border-radius: 4px;
 	height: 600px;
	overflow: scroll;
	padding: 20px;
	top: 8px;
}

.thumbnails img {
	border-radius: 0;
	height: 360px;
	margin-bottom: 20px; 
	width: 140px;
}



/*footer*/

.footer {
	background-color: #fff;
	border-top: 1px solid #48c;
	bottom: 0;
	height: 60px;	
	position: relative;
	top: 100px;
	width: 100%;
}
.footer div {
	top: 10px;
}
.footer p {
	color: #bbb;
	font-size: 0.8em;
}

